<h1>{{title}}</h1>
<form method="POST" action="/add-model">
	<label> Stage name: </label> <input name="stageName" type="text" value="{{ fields.stageName }}" /> <br />
	<label> Legal name: </label> <input name="fullLegalName" type="text" value="{{ fields.fullLegalName }}" /> <br />
	<label> DOB: </label> <input name="dateOfBirth" type="text" value="{{ fields.dateOfBirth }}" /> <br />
	<br />
	<label> Email: </label> <input name="email" type="text" value="{{ fields.email }}" /> <br />
	<label> Phone: </label> <input name="phoneNumber" type="text" value="{{ fields.phoneNumber }}" /> <br />

	<label> Country: </label> <input name="country" type="text" value=" {{fields.country}} " /> <br />
	<br />
	<input type="submit" name="submit" value="submit" />
</form>
<ul>
	{{#each errors }}
		<li class="error"> {{this.msg}} </li>
	{{/each}}
</ul>