
<style>
	.form-group {
		padding: 10px;
	}
	.form-group label {
		font-weight: bold;
		padding-right: 10px;
	}
	li.error {
		color: red;
	}
</style>
	<h1>{{title}}</h1>
	<ul>
		{{#each errors }}
			<li class="error"> {{this.msg}} </li>
		{{/each}}
	</ul>
	<form class="form-horizontal" method="POST" action="/add-model" role="form">
		<div class="form-group">
			<label class="control-label">Member Id:</label>
			<input id="memberId" name="memberId" type="hidden" value="1386014360861" />1386014360861
		</div>
		<div class="form-group">
			<label class="control-label" for="stageName" > Stage Name: </label>
			<input id="stageName" class="form-control" name="stageName" type="text" value="{{ fields.stageName }}" placeholder="Your Awesome Stage Name" required />
		</div>
		<div class="form-group">
			<label for="fullLegalName" class="control-label"> Legal Name: </label>
			<input id="fullLegalName" class="form-control" name="fullLegalName" type="text" value="{{ fields.fullLegalName }}" placeholder="Full Legal Name" required />
		</div>
		<div class="form-group">
			<label for="dateOfBirth" class="control-label" > Date Of Birth: </label>
			<input id="dateOfBirth" class="form-control" name="dateOfBirth" type="text" value="{{ fields.dateOfBirth }}" placeholder="mm/dd/yyyy" required />
		</div>
		<div class="form-group">
			<label for="idExpirationDate" class="control-label"> ID Exp: </label>
			<input id="idExpirationDate" class="fomr-control" name="idExpirationDate" type="text" value="{{ fields.idExpirationDate }}" placeholder="mm/dd/yyyy" required />
		</div>
		<div class="form-group">
			<label for="email" class="control-label" >Email: </label>
			<input id="email" class="form-control" name="email" type="email" value="{{ fields.email }}" placeholder="Your email address" required />
		</div>

		<div class="form-group">
			<label for="phoneNumber" class="control-label" > Phone: </label>
			<input id="phoneNumber" class="form-control" name="phoneNumber" type="tel" value="{{ fields.phoneNumber }}" placeholder="yo cell phone bro!" required />
		</div>
		<div class="form-group">
			<label for="country" class="control-label" > Country: {{{fields.country}}}</label>
			<select id="country" name="country" class="form-control">
				<option value=""></option>
				{{#each countries}}
					<option value="{{this.value}}" {{{option_selector this.value fields.country }}} >{{this.name}}</option>
				{{/each}}
			</select>
		</div>
		<div class="form-group">
				<label class="control-label"></label>
				<input type="submit" name="submit" class="form-control btn btn-default" value="submit" />
				<input id="auto_fill" type="button" name="auto_fill" class="form-control btn btn-default" value="auto fill" />
				<input id="idPhotoUuid1" name="idPhotoUuid1" type="text" value="{{fields.idPhotoUuid1}}"/>
				<input id="idPhotoUuid2" name="idPhotoUuid2" type="text" value="{{fields.idPhotoUuid2}}"/>
		</div>

		<div class="form-group">
		</div>

	</form>
	<div class="form-horizontal">
		<div class="form-gorup">
			<form id="photoOneForm" enctype="multipart/form-data">
					<label for="phoneOne" class="control-label photo" >Photo One</label>
					<input type="file" id="phoneOne" class="form-control photo">
					<span class="photo_message"></span>
					<input data="idPhotoUuid1" class="photo-input" type="text" value="{{fields.idPhotoUuid1}}"/>
			</form>
		</div>
		<div class="form-gorup">
			<form id="photoTwoForm" enctype="multipart/form-data">
				<label for="phoneTwo" class="control-label photo" >Photo Two</label>
				<input type="file" id="phoneTwo" class="form-control photo">
				<span class="photo_message"></span>
				<input data="idPhotoUuid2" class="photo-input" type="text" value="{{fields.idPhotoUuid2}}"/>
			</form>
		</div>
	</div>
</div>
<script type="text/javascript">
	$(document).ready(function() {
		$('#auto_fill').bind('click', function() {
			$('#stageName').val('Bad Billy');
			$('#fullLegalName').val('William Willard');
			$('#dateOfBirth').val('1982-05-23');
			$('#idExpirationDate').val('2015-05-23');
			$('#email').val('zeph@kink.com');
			$('#phoneNumber').val('916-555-2222');
		});

		$('.photo').change(function() {
			// console.log($('#photoOneForm')[0]);
			var formData = new FormData($('#photoOneForm')[0]);
			var file = $(this)[0].files[0];
			var p = $(this).siblings('.photo_message');
			var input = $(this).siblings('.photo-input');
			console.log(input.attr('data'));
			formData.append('photo', file);
			console.log(p);
			// console.log($(this).val());

			$.ajax({
				url: '/file-upload',
				type: 'POST',
				beforeSend: function() {
					//console.log($(this));
					p.html("sending file...");
					//$(this).closest('.photo_message').html("sending file...");
				},
				success: function(data) {
					console.log(data)
					if (data.fileUuid) {
						input.val(data.fileUuid)
						$('#' + input.attr('data')).val(data.fileUuid);
					}
					p.html('');
				},
				error: function(err) {
					console.log(err);
					p.html(err);
				},
				data: formData,
				cache: false,
				contentType: false,
				processData: false
			});
		});
	});
</script>
